@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

#resizableText {
  width: 80%;
  height: 150px;
  resize: none;
  font-size: 16px;
  margin-bottom: 20px;
}

#textSizeSlider {
  width: 80%;
  margin-bottom: 10px;
}

.controls {
  font-size: 14px;
}
