:root {
  --dark-bg-color: #1f1f1f; /* color de fondo en modo oscuro */
  --dark-text-color: #f5f5f5; /* color de texto en modo oscuro */
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background: #008080;
}

body.dark-mode {
  background: #1f1f1f;
  color: #fff;
}

.container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 250px;
  text-align: center;
}

.dark-mode .container {
  background-color: #373737; /* color de fondo en modo oscuro con tonalidad diferente */
}

.dark-mode-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s;
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 16px;
}

#texto {
  margin-top: 80px;
  font-weight: bold;
}

.controles {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.controles input {
  outline: none;
  width: 30px;
  text-align: center;
  padding: 20px;
  border-radius: 25px;
}

.controles button {
  padding: 20px;
  margin: 10px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.4s;
  width: 20%;
}

.controles button:active {
  opacity: 0.9;
  transform: translateY(-2px) scale(1.1);
}

.controles button:nth-child(1):hover {
  background: #dc3545;
  color: #fff;
}

.controles button:nth-child(3):hover {
  background: #28a745;
  color: #fff;
}

@keyframes aumentarVerde {
  50% {
    color: #28a745;
  }
}

@keyframes disminuirRojo {
  50% {
    color: #dc3545;
  }
}

/* estilos para el modo oscuro */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
  }

  .container {
    background-color: #373737;
    color: var(--dark-text-color);
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90vw;
    max-width: 90%;
  }
}
