@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap");

body {
  font-family: "Fraunces", serif;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.container {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 250px;
  text-align: center;
}

#texto {
  margin-top: 80px;
  font-weight: bold;
  font-size: 30px;
}

.controles {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.controles input {
  outline: none;
  border: none;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  width: 60px;
  font-size: 1rem;
}

.controles button {
  padding: 20px;
  margin: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  outline: none;
}

.controles button:active {
  opacity: 0.9;
  transform: translateY(-2px) scale(1.1);
}

.controles button:nth-child(1) {
  background: #DB005B;
  color: #fff;
}

.controles button:nth-child(3) {
  background: #47A992;
  color: #fff;
}

@keyframes aumentarVerde {
  50% {
    color: #47A992;
  }
}

@keyframes disminuirRojo {
  50% {
    color: #DB005B;
  }
}


